<div class="nav menu-toolbar">
  <h5>Identity Manager</h5>
  <ul class="main_nav">
    <li>
      <%= link_to home_path do %>
        <i class='icon_menu-20-home'></i>
        <h2><%= t('toolbar.home') %></h2>
      <% end %>
    </li>
    <li>
      <% if current_subject.is_a? User %>
        <%= link_to organizations_path do %>
          <i class='icon_menu-20-organizations'></i>
          <h2><%= t('toolbar.organizations')%></h2>
        <% end %>
      <% else %>
        <%= link_to contacts_path do %>
          <i class='icon_menu-20-members'></i>
          <h2><%= t('toolbar.members')%></h2>
        <% end %>
      <% end %>
    </li>
    <li>
      <%= link_to applications_path do %>
        <i class='icon_menu-20-clients'></i>
        <h2><%= t('toolbar.applications') %></h2>
      <% end %>
    </li>
  </ul>
</div>
