<div class="nav menu-toolbar">
  <ul class="main_nav">
    <li>
      <%= link_to '#' do %>
        <i class='icon_menu-20-home'></i>
        <h2><%= t('toolbar.home') %></h2>
      <% end %>
    </li>
    <li>
      <%= link_to '#' do %>
        <i class='icon_menu-20-organizations'></i>
        <h2><%= t('toolbar.organizations') %></h2>
      <% end %>
    </li>
    <li>
      <%= link_to '#' do %>
        <i class='icon_menu-20-resources'></i>
        <h2><%= t('toolbar.resources') %></h2>
      <% end %>
    </li>
    <li>
      <%= link_to site_clients_path do %>
        <i class='icon_menu-20-clients'></i>
        <h2><%= link_to t('toolbar.applications'), site_clients_path %></h2>
      <% end %>
    </li>
  </ul>
</div>
