<div class="nav menu-toolbar affix" role="complementary" data-spy="affix" data-offset-top="65" data-offset-bottom="200">
  <h5>Identity Manager</h5>
  <h5 class="tablet">IdM</h5>
  <ul class="main_nav">
    <li class="home<%= ' active' if controller.controller_name == 'home' %>">
      <%= link_to home_path do %>
        <h2><i class='fa fa-home'></i><span><%= t('toolbar.home') %></span></h2>
      <% end %>
    </li>

    <% if current_subject.is_a? User %>
      <li class="organizations<%= ' active' if controller.controller_name == 'organizations' %>">
        <%= link_to organizations_path do %>
          <h2><i class='fa fa-group'></i><span><%= t('toolbar.organizations')%></span></h2>
        <% end %>
      </li>
    <% else %>
      <li class="members<%= ' active' if controller.controller_name == 'contacts' %>">
        <%= link_to contacts_path do %>
          <h2><i class='fa fa-group'></i><span><%= t('toolbar.members')%></span></h2>
        <% end %>
      </li>
    <% end %>

    <li class="my-applications<%= ' active' if controller.controller_name == 'applications' %>">
      <%= link_to applications_path do %>
        <h2><i class='fa fa-laptop'></i><span><%= t('toolbar.applications') %></span></h2>
      <% end %>
    </li>

    <% if can? :update, Site.current %>
      <hr>
      <li class="notify<%= ' active' if controller.controller_name == 'notifications' %>">
        <%= link_to new_notification_path do %>
          <h2><i class='fa fa-comment'></i><span>Notify</span></h2>
        <% end %>
      </li>

      <li class="administrators<%= ' active' if controller.controller_name == 'administrators' %>">
        <%= link_to administrators_path do %>
          <h2><i class='fa fa-wrench'></i><span>Administrators</span></h2>
        <% end %>
      </li>
    <% end %>

  </ul>
</div>
<script>
  $('.menu-toolbar').affix({
      offset: {
        top: 65

      }
    })
</script>