<section id="registration">
  <section class="welcome">
  </section>

  <section class="maxusers">
    <%if @maxusers === true%>
      <div style="border-radius: 15px;
  background-color: white;
  color: #8c8c8c;
  padding: 30px;
  box-shadow:0px 0px 13px rgba(50, 50, 50, 0.15)"><p>
We feel excited about the increasing number of developers like you that are trying to test FIWARE on the FIWARE Lab ...  This is rather encouraging !!   Unfortunately, the number of Trial Users able to has reached its limit and we cannot serve your request at this moment.   If you are applying for an account on behalf of a SME or startup included in the <a href="http://www.fiware.org/fiware-accelerator-programme" target="_blank">FIWARE Accelerator Programme</a> or wish to apply for a Community User (*) account, please submit your application <u><strong><a href="#" id="myCustomTrigger">here</a></strong></u>. Otherwise, please check back in 2 weeks for the next open window enabling creation of new Trial User accounts.  If you have any questions or need help, please contact our Technical Support Team sending an email to <u><strong><a href="mailto:fiware-lab-help@list.fi-ware.org">our support team</a></strong></u>.
</p>
<p>
(*) - Community Users are users that are granted a more stable environment for testing (at least up to 9 months, more subject to renewal) because they plan to develop a project which may work as a reference example of the use of FIWARE technologies, therefore contributing to the development of the FIWARE Community.    Number of Community Users is limited so your application will be evaluated and may not be be finally selected.   In the event it is selected, you may be required to show your progress (e.g., making showcases/demos available on FIWARE Lab) every 2 months in order to keep your status as Community User.
      </p></div>

      <script type="text/javascript" src="https://jira.fiware.org/s/4d99dfea096a41baa8a46feda6f85823-T/en_GBek2res/6346/29/1.4.16/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-GB&collectorId=a188b867"></script>

      <script>
        $(document).ready(function(){
          window.ATL_JQ_PAGE_PROPS =  {
            "triggerFunction": function(showCollectorDialog) {
              //Requires that jQuery is available! 
              $("#myCustomTrigger").click(function(e) {
              e.preventDefault();
              showCollectorDialog();
            });
          }};
        });
      </script>
      
    <% end %>
  </section>



  <section class="registration">
    <h3>
      <%= t('sign_up').capitalize %>
    </h3>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
    <fieldset>
      <%= f.label :name %>
      
      <%= f.text_field :name, :class =>"form_tag" %>
      
      <%= f.label :email %>
      
      <%= f.text_field :email, :class =>"form_tag" %>
      
      <%= f.label :password %>
      
      <%= f.password_field :password, :class =>"form_tag", :id => "password" %>

      <%= f.label :password_confirmation %>
      
      <%= f.password_field :password_confirmation, :class =>"form_tag"%>

      <%= show_simple_captcha %>

      <% if @premium_registration %>
        <input type="hidden" name="premium_password" value="<%=Site.current.config[:password]%>"/>
      <% end %>

      <div class="terms-check">
          <input type="checkbox" name="inlineCheckbox1" id="inlineCheckbox1" title="This field is required." value="option1" required/>

          <label class="conditions checkbox-inline" for="inlineCheckbox1">
          I accept FIWARE Lab <a href="https://forge.fiware.org/plugins/mediawiki/wiki/fiware/index.php/FIWARE_LAB_Terms_and_Conditions" target="_blank">Terms and Conditions.</a>
          </label>
      </div>

      <%= f.submit t('action.accept').capitalize,:class=>"btn pull-right"%>
    </fieldset>
    <hr class="soften">
      
    <%= render :partial => "devise/shared/links" %>
      
      <% end %>

   
  </section>
</section>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.min.js"></script>
<script>
  $("#new_user").validate();
</script>
