<div id="new_permission_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="new_permission_modal_header" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="new_permission_modal_header">New permission</h3>
  </div>
  <%= form_for custom, remote: true do |f| %>
    <%= f.hidden_field :actor_id %>

    <div class="modal-body">
      <div class="error_explanation" class="alert alert-error">
      </div>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :description %>
      <%= f.text_area :description %>

      <%= f.label :action, 'HTTP actions' %>
      <%= f.text_field :action %>

      <%= f.label :object, 'Resource' %>
      <%= f.text_field :object %>
    </div>
    <div class="modal-footer">
      <%= f.submit %>
    </div>
  <% end %>
</div>
