<div id="user">
  <header>
    <h3>
      <%= @user.name %>
    </h3>

    <% if can? :edit, @user.profile %>
      <%= link_to 'Edit', polymorphic_path([ @user, :profile ], action: :edit), class: 'edit' %>
    <% end %>

    <%= link_to (image_tag(@user.logo.url(:medium) , :size => "small", :class => "avatar", :alt => @user.name )), @user  %>
  </header>

  <section class="personal_info well">
    <div class="ocupation">
      <header>
        Description
      </header>
      <div class="result">
        <%= @user.profile.description %>
      </div>
    </div>
    <div class="city">
      <header>
        City
      </header>
      <div class="result">
        <%= @user.profile.city %>
      </div>
    </div>
    <div class="panel-group" id="accordion2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h6 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
              + more info
            </a>
          </h6>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">
            <div class="website">
              <header>
                Website
              </header>
              <div class="result">
                <% if @user.profile.website.present? %>
                  <%= link_to @user.profile.website, @user.profile.website %>
                <% end %>
              </div>
            </div>
            <div class="email">
              <header>
                E-mail
              </header>
              <div class="result">
                <%= @user.profile.email %>
              </div>
            </div>
          </div>
        </div>
      </div>
    
  </section>
    
  <h4>
    Organizations
  </h4>
  <%= render partial: 'subjects/organizations',
             object: @user,
             as: :subject %>
  <h4>
    Applications
  </h4>
  <%= render partial: 'subjects/applications',
             object: @user,
             as: :subject %>
</div>
