<div id="user">
  <header>
    <h3>
      <%= @user.name %>
    </h3>

    <% if can? :edit, @user.profile %>
      <%= link_to 'Edit', polymorphic_path([ @user, :profile ], action: :edit), class: 'edit' %>
    <% end %>

    <%= link_to (image_tag(@user.logo.url(:medium) , :size => "small", :alt => @user.name )), @user  %>
  </header>

  <section class="personal_info">
    <div class="ocupation">
      <header>
      </header>
      <div class="result">
        <%= @user.description %>
      </div>
    </div>
    <div class="city">
      <header>
        City
      </header>
      <div class="result">
        <%= @user.profile.city %>
      </div>
    </div>
    <div class="accordion" id="accordion2">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
            + more info
          </a>
        </div>
        <div id="collapseOne" class="accordion-body collapse">
          <div class="accordion-inner">
            <div class="content settings_content collapse in">
              <header>
                Phone
              </header>
              <div class="result">
                <%= @user.profile.phone %>
              </div>
    
              <header>
                E-mail
              </header>
              <div class="result">
                <%= @user.email %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
    
  <h4>
    Organizations
  </h4>
  <%= render partial: 'subjects/organizations',
             object: @user,
             as: :subject %>
  <h4>
    Applications
  </h4>
  <%= render partial: 'subjects/applications',
             object: @user,
             as: :subject %>
</div>
