<div id="add-contact-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <%= form_tag contacts_path do %>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3>Add members</h3>
    </div>
    <div class="modal-body">
      <%= label_tag 'actors', 'Users' %>
      <%= text_field_tag 'actors' %>

      <%= label_tag 'relations', 'Roles' %>
      <%= text_field_tag 'relations' %>
    </div>
    <div class="modal-footer">
      <%= submit_tag "Add members" %>
    </div>
  <% end %>
</div>
