<h1>Members</h1>

<%= link_to "Add", "javascript:void(0);", id: "add-contact-link" %>

<section class="members">
  <%= render partial: 'layouts/loading' %>

  <%= text_field_tag "contact-filter", "", placeholder: "filter", autocomplete: "off" %>

  <section class="member-list">
    <%= render current_subject_contacts_to(@contacts) %>
  </section>

  <%= javascript_tag do %>
    $(function() {
      Member.index();
    });
  <% end %>

</section>
