<h1>Members</h1>

<% if can? :create, current_subject.sent_contacts.build %>
  <%= link_to "Add", "#add-contact-modal", id: "add-contact-link", 'data-toggle' => "modal" %>

  <%= render partial: 'new-modal' %>
<% end %>

<section class="members">
  <%= render partial: 'layouts/loading' %>

  <%= text_field_tag "contact-filter", "", placeholder: "filter", autocomplete: "off" %>

  <section class="member-list">
    <%= render current_subject_contacts_to(@contacts) %>
  </section>

  <%= javascript_tag do %>
    $(function() {
      Member.index();
    });
  <% end %>

</section>
