<ul class="list-group">
  <% list.each do |org| %>
  <li class="list-group-item">
    <div class="avatar">  
      <%= link_to org do %>
        <%= image_tag org.logo.url(:small) %>
      <% end %>
    </div>
    <div class="data">
      <div class="name">
        <%= link_to org.name, org %>
      </div>
      <% if can? :represent, org %>
        <%= link_to "switch", { s: org.slug }, { class: 'session-switch' } %>
      <% end %>

      <% unless current_page?(controller: 'home') %>
        <div class="description">
          <%= org.description %>
        </div>
      <% end %>
    </div>
  <% end %>
  </li>
</ul>

