<%= div_for organization do %>

  <div class="avatar">
    <%= link_to organization do %>
      <%= image_tag organization.logo.url(:small) %>
    <% end %>
  </div>
  <div class="data">
    <div class="name">
      <%= link_to organization.name, organization %>
    </div>
    <% if can? :represent, organization %>
      <%= link_to "switch", { s: organization.slug }, { class: 'session-switch' } %>
    <% end %>

    <div class="description">
      <%= organization.description %>
    </div>
  </div>
  <hr class="soften">
<% end %>
