<div id="organization">
  <header>
    <h3>
      <%= @organization.name %>
    </h3>

    <% if can? :edit, @organization.profile %>
      <%= link_to 'Edit', polymorphic_path([ @organization, :profile ], action: :edit), class: 'edit' %>
    <% end %>

    <%= link_to (image_tag(@organization.logo.url(:medium) , :size => "small", :alt => @organization.name )), @organization  %>
  </header>

  <section class="personal_info">
    <div class="ocupation">
      <header>
        Contact us
      </header>
      <div class="result">
        <% if @organization.profile.website.present? %>
          <%= link_to @organization.profile.website, @organization.profile.website %>
        <% end %>
        </br></br>

        <% if @organization.email.present? %>
          <%= link_to "mailto:#{ @organization.email }", @organization.email %>
        <% end %>
      </div>
    </div>
    <div class="accordion" id="accordion2">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
            Description
          </a>
        </div>
        <div id="collapseOne" class="accordion-body collapse">
          <div class="accordion-inner">
            <div class="content settings_content collapse in">
              <div class="result">
                <%= @organization.profile.description %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <h4>
    Profile info
  </h4>
  <%= render partial: 'subjects/members',
             object: @organization,
             as: :subject %>

  <%= render partial: 'subjects/applications',
             object: @organization,
             as: :subject %>
</div>
