<div id="organizations">
  <header>
    <h3>
      Organizations
    </h3>
    <%= link_to "Create Organization", new_organization_path %>

  </header>

  <div class="well">

    <ul class="nav nav-tabs">
      <li>
        <a href="#owned" data-toggle="tab" data-path="<%= organizations_path %>">Owned</a>
      </li>
      <li>
        <a href="#others" data-toggle="tab" data-path="<%= organizations_path %>">Others</a>
      </li>
    </ul>
  
  <div class="tab-content">
    <div class="tab-pane" id="owned">
      <%= render partial: 'layouts/loading' %>
    </div>

    <div class="tab-pane" id="others">
      <%= render partial: 'layouts/loading' %>
    </div>
  </div>
  </div>

  <%= javascript_tag do %>
    $(function() {
      Organization.index();
    });
  <% end %>
</div>
