<header class="navbar">
  <nav class="navbar-inner">
    <div class="logo-header">
      <a href="http://lab.fi-ware.eu/" class="logo-header">
        <img alt="FI-WARE IdM" class="logo" src="/assets/header-logo.png">
      </a>
      <%= link_to fiware_env_url, class: 'brand' do %>
        <span>FI-</span>WARE
      <% end %>
    </div>
  
    <div class="dropdown mobile">
      <a href="#" class='dropdown-toggle' data-toggle="dropdown">
        <span class="caret">
        </span> 
      </a>

      <ul class="dropdown-menu dropdown-menu-header">
        <li class="cloud">
          <a href="http://cloud.lab.fi-ware.eu/">
            Cloud
          </a>
        </li>
        <li class="store">
          <a href="http://store.lab.fi-ware.eu/">
            Store
          </a>
        </li>
        <li class="mashup">
          <a href="http://mashup.lab.fi-ware.eu/">
            Mashup
          </a>
        </li>
        <li class="account active">
          <a href="https://account.lab.fi-ware.eu/">
            Account
          </a>
        </li>
        <li class="help">
          <a href="http://lab.fi-ware.eu/">
            Help&info
          </a>
        </li>
      </ul>
    </div>

        <ul class="dropdown-menu dropdown-menu-header">
          <li class="cloud">
            <%= link_to 'Cloud', fiware_env_url(subdomain: 'cloud') %>
          </li>
          <li class="store">
            <%= link_to 'Store', fiware_env_url(subdomain: 'store') %>
          </li>
          <li class="mashup">
            <%= link_to 'Mashup', fiware_env_url(subdomain: 'mashup') %>
          </li>
          <li class="account active">
            <%= link_to 'Account', root_url %>
          </li>
          <li class="help">
            <%= link_to 'Help&info', fiware_env_url %>
          </li>
        </ul>
      </div>

    <% if user_signed_in? %>
      <ul class="nav pull-right">
        <li>
          <%= link_to current_subject, 'data-toggle' => 'tooltip', 'data-placement' => 'left', :title => current_subject.name, 'data-original-title' => current_subject.name do %>
          <%= image_tag current_subject.logo.url(:small) %>
          <span class="name">
            <%= truncate_name(current_subject.name, length: 15) %>
          </span>
          <% end %>
        </li>
              
        <li> 
          <%= render partial: 'layouts/header_dropdown_menu' %>
        </li>
      </ul>
    <% end %>
  </nav>
</header>
